.shows {

}

.show-cell {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 20px;
  position: relative;
  width: 150px;

  img {
    color: #fff;
    font-weight: bold;
    @include size(150px, 200px);
    @include gradient-vertical(#3ab5de, #0b4066, 0%, 100%);
  }
}

.episode-count {
  background: hsla(0,0%,0%, 0.5);
  color: #fff;
  font-weight: bold;
  min-width: 2em;
  padding: 5px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}